<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="RecepcaoDados.Properties.Settings.RecepcaoSistemaConnectionString"
            connectionString="Data Source=DTI-127\SQLEXPRESS;Initial Catalog=RecepcaoSistema;Persist Security Info=True;User ID=sa;Password=led"
            providerName="System.Data.SqlClient" />
        <add name="RecepcaoDados.Properties.Settings.RecepcaoSistemaConnectionString1"
            connectionString="Data Source=PACHECO\SQLEXPRESS;Initial Catalog=RecepcaoSistema;Persist Security Info=True;User ID=sa;Password=led"
            providerName="System.Data.SqlClient" />
        <add name="RecepcaoDados.Properties.Settings.RecepcaoConnectionString"
            connectionString="Data Source=Pacheco\sqlexpress;Initial Catalog=Recepcao;Persist Security Info=True;User ID=sa;Password=led"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>